* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    border: 5px outset rgb(173, 97, 97);
    width: 25vw;
    height: 100vh;
    margin: 0 auto;
}

img {
    width: 200px;
    height: 200px;
}

ul, ol {
    list-style: disc;
    margin: 50px;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

#homepage-list {
    text-align: center;
}

.hmp-list {
    margin: 50px;
}